*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

body{
    background-image: url(../img/imagem-fundo\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50vw;
}

section h1{
    margin-bottom: 1vw;
    font-size: 2vw;
}

section img{
    margin-top: 2vw; 
}

section p{
    font-size: 1vw;
}

#layout{
    display: flex; 
    background-color: #4b5c49;
    width: 40vw;
    height: 60vh;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

form{
    display: flex;
    align-items: center;
    gap: 1vw;
    flex-direction: column;
    justify-content: center;
}

input{
    width: 30vw;
    height: 3.5vh;
    color: black;
    border: none;
    border-radius: 2px;
}

button{
    background-color: #f1c21a;
    color: #4b5c49;
    width: 30vw;
    height: 3.5vh;
    font-weight: 900;
    font-size: 1vw;
    border: none;
    border-radius: 5px;
}


